@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat/Montserrat-Regular.ttf'); 
}

@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat/Montserrat-Bold.ttf'); 
}

@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat/Montserrat-Medium.ttf'); 
}

@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat/Montserrat-SemiBold.ttf'); 
}
@font-face {
  font-family: Open Sans;
  src: url('../fonts/Open_Sans/OpenSans-Regular.ttf'); 
}

@font-face {
  font-family: Montserrat;
  src: url('../fonts/montserrat/OpenSans-Bold.ttf'); 
}

@font-face {
  font-family: Montserrat;
  src: url('../fonts/montserrat/OpenSans-Medium.ttf'); 
}

@font-face {
  font-family: Montserrat;
  src: url('../fonts/montserrat/OpenSans-SemiBold.ttf'); 
}
@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto/Roboto-Regular.ttf'); 
}

@font-face {
  font-family: Montserrat;
  src: url('../fonts/Roboto/Roboto-Bold.ttf'); 
}

@font-face {
  font-family: Montserrat;
  src: url('../fonts/Roboto/Roboto-Medium.ttf'); 
}

@font-face {
  font-family: Montserrat;
  src: url('../fonts/Roboto/Roboto-SemiBold.ttf'); 
}
* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	min-height: 550px;
	background-image: url('../img/bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center;
	position:relative;
	overflow: hidden;
}
.header{
	position: absolute;
	right: 8%;
	top: 5%;
	margin: auto;
}
.container{
	position: absolute;
	background-color: #ffffff;
	border-radius: 8px;
	width: 90%;
	height: 300px;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
.box{
	position: absolute;
	background-color: #12346D;
	border-radius: 8px;
	width: 45%;
	height: 400px;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	right:calc(50% - 35px);
}
.box .layer5{
	position: absolute;
	width: 100%;
	height: 230px;
	left: 0;
	top: 0;
}
.box .layer2{
	position: absolute;
	width: 35%;
	height: 108px;
	left: 2%;
	top: 30%;
	mix-blend-mode: soft-light;
}
.box h3{
	position: absolute;
	color: #ffffff;
	bottom: 10%;
	left: 10%;
	font-family: Montserrat, sans-serif;
	font-weight: 700;
}
.container .login{
	position: absolute;
	width: 35%;
	height: 210px;
	top: 15%;
	right: 13%;
}
.container .login h3{
	font-family: Montserrat, sans-serif;
	font-weight: 600;
}
.container .login .line{
	width: 80px;
	height: 4px;
	background: #12346D;
	border-radius: 1.43px;
}
.container .login p{
	font-size: 15px;
	font-family: Roboto, sans-serif;
	margin-top: 1.3rem;
    margin-bottom: 0;
}
.container .login .form-control{
	width: 100%;
	height: 49px;
	margin-top: 0.3rem;
	background-color: #FCFCFE;
	border-color: #E5E5E5;
}
.container .login .btn-login{
	position: absolute;
	width: 124px;
	height: 42px;
	background: #12346D;
	color: #ffffff;
	margin: 15px 0 0 0;
	font-family: Open Sans, sans-serif;
	line-height: 0;
	font-weight: 600;
}
#alert-error-1{
    position: absolute;
    right: -10%;
    padding: 5px 15px 6px 50px;
    margin: 15px 0 0 0;
    border-radius: 8px;
    border-color: #E85656;
    line-height: 15px;
}
#alert-error-2{
	position: absolute;
    right: -10%;
    padding: 5px 15px 6px 50px;
    margin: 15px -40px 0 0;
    border-radius: 8px;
    border-color: #E85656;
    line-height: 15px;
}
.close{
	position: absolute;
	left: 0;
	background-color: #ffffff00;
    color: #621b1b;
    border: 2px solid #621b1b;
    border-radius: 40px;
    height: 24px;
    width: 24px;
    margin: 4px 1px 1px 10px;
}
.alert #close-1{
    position: absolute;
    top: 0;
    left: 0;
    padding: 2px;
    margin-left: 6px;
    width: 5px;
    color: #621b1b;
}
.alert #close-2{
    position: absolute;
    top: 0;
    left: 0;
    padding: 2px;
    margin-left: 6px;
    width: 5px;
    color: #621b1b;
}
.footer{
	position: absolute;
	width: 30%;
	height: 19px;
	bottom: 19%;
	right: 17%;
	font-family: Roboto, sans-serif;
	font-weight: 700;
}
.footer span{
	font-size: 12px;
	font-weight: 300;
}